<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if(user){ %>
      <h1><%= user.name %></h1>
    <% } %>
    <p>Welcome to library management system</p>

    <p> Burada navbarda /userlar /kitaplar /kitap-al /kitap-ekle /admin-panel /login /logout  olacak</p>
    <p> İki tane db var biri users database i biri de kitapların eklendiği database.</p>

  </body>
</html>
